@charset "utf-8";
// If need, change your variables before importing Bulma
// $title-color: #ff0000;
$text: white;
$title-color: white;
// $background: #2D3142;
body{
    background: #2D3142;
}

@import '~bulma/bulma.sass';
